<h1>Display your Pirate here</h1>

<p>Pirate Name: <%=@pirate.name%></p>
<p>Pirate Weight: <%=@pirate.weight%></p>
<p>Pirate Height: <%=@pirate.height%></p>

<h2>Display your first ship here</h2>

<p>1st Ship Name: <%=@ships.first.name%></p>
<p>1st Ship Type: <%=@pirate.first.type%></p>
<p>1st Ship Booty: <%=@pirate.first.booty%></p>

<h2>Display your second ship here</h2>

<p>2nd Ship Name: <%=@ships.last.name%></p>
<p>2nd Ship Type: <%=@pirate.last.type%></p>
<p>2nd Ship Booty: <%=@pirate.last.booty%></p>
